.cargo-container {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #303133;
  margin-bottom: 16px;
}

.description {
  color: #606266;
  font-size: 14px;
}


